body {
    padding: 5em;
    word-wrap: break-word;
    padding-top: 2em;
}
code {
    font-family: 'Anonymous Pro', monospace;
    line-height: 1.2em;
}
body > .title {
    text-align: center;
    font-family: 'Marcellus SC', sans-serif;
    line-height: 0em;
    font-size: 4em;
}
body > .subtitle {
    text-align: center;
    padding-bottom: 1em;
    font-family: 'Marcellus SC', sans-serif;
    font-size: 1.8em;
    font-style: italic;
}
.impls {
    width: 61rem; /* 15*4+1 */
    margin-left: 4rem;
    font-family: 'Marcellus', sans-serif;
}
/* column width: 15rem */
.impls > *, .fudge { width: 14rem; }
.impls > * {
    font-size: 1.8em;
    text-align: left;
    display: inline-block;
    margin: 0;
}
.impls > *::before {
    content: "";
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    margin-right: 0.2em;
    border: 1px solid;
}
.synopsis {
    padding-bottom: 3px;
    border-bottom: 2px dotted;
}
.desc::before  {
    content: " ⊕ "; /* em-spaces */
    padding: -0.2em;
    color: blue;
}
.desc.off::before { content: " ⊖ "; color: green;  }
.desc:hover { background-color: grey; color: white; }
.desc:hover::before { color: yellow; }
.synopsis > .desc {
    font-family: 'Marcellus SC', sans-serif;
    font-size: 1.8em;
}
.synopsis > * {
    margin-left: 2rem;
}
.file > .desc {
    font-family: 'Marcellus', sans-serif;
    font-size: 1.5em;
    font-style: italic;
}
.file > * {
    margin-left: 2rem;
}
.file {
    margin-top: 0.5em;
    padding-bottom: 0.2em;
    display: block;
    border: none;
}
.fudge {
    display: block;
    position: relative;
}
.impl2 { left: 15rem; }
.impl3 { left: 30rem; }
.impl4 { left: 45rem; }
.impl1_2 { width: 29rem }
.impl2_3 { left: 15rem; width: 29rem; }
.impl3_4 { left: 30rem; width: 29rem; }
.impl1_3 { width: 44rem }
.impl2_4 { left: 15rem; width: 44rem }
.impl1_4 { width: 61rem }
.fudge > .desc {
    border-radius: 1em 1em 0 0;
    background-color: lightblue;
    text-align: center;
    font-size: 1.2em;
}
.fudge > .desc.off {
    border-radius: 1em;
}
.test + .test {
    border-top: solid 1px;
}
.desc {
    font-family: 'Marcellus', sans-serif;
    margin-left: 0;
}
.off > * { display: none }
.off > * * { display: none }
.off > .desc { display: block }
.off > .desc * { display: inline }
.on *  { display: default }

footer {
    margin-top: 3em;
    font-style: italic;
    text-align: right;
}
