body {
    padding: 5em;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: none;
}
tr { width: 100%; }
td {
    vertical-align: top;
    border-bottom: solid 1px grey;
    width: 20%;
    overflow: auto;
}
.test-dir { display: block; width: 100%; }
.section .section-body { display: none; }
.section input[type=checkbox]:checked ~ table { display: inherit; }
.section {
    padding-bottom: 3px;
    border-bottom: 2px dotted;
    background-color: #DFF;
    margin: 3px;
}
.section .title {
    font-size: 130%;
    font-weight: bold;
}
.section td + td {
    font-family: monospace;
}
.result {
    overflow: auto;
    margin-bottom: 3px;
    border: 1px dotted grey;
}
