body {
    padding: 5em;
    word-wrap: break-word;
    padding-top: 2em;
    font-family: 'Anonymous Pro', monospace;
    line-height: 1.2em;
}
body > .title {
    text-align: center;
    padding-bottom: 1em;
    font-family: 'Marcellus SC', sans-serif;
    font-size: 3em;
}
.impls {
    height: auto;
    font-family: 'Marcellus', sans-serif;
    font-size: 1.4em;
    overflow: hidden;
    padding-left: 1em;
}
.impls .cell {
    padding: 0.3em;
    overflow: hidden;
}
a {
    color: inherit;
    text-decoration: inherit;
}
a:hover { background-color: white }
/* a:hover:after { content: '»'; font-size: 115%; } */
.digit { font-family: 'Anonymous Pro', monospace; }
table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    padding: 0.2em;
}
tr { width: 100%; }
.cell {
    display: inline-block;
    vertical-align: top;
    border-bottom: solid 1px grey;
    width: 18%;
    float: left;
    overflow: auto;
}
tr td:first-child {
    padding-left: 1em;
}
tr td:first-child.test-dir {
    padding-left: 0.2em;
}
.test-dir {
    margin-top: 0.5em;
    padding-bottom: 0.2em;
    display: block;
    width: 300%;
    border: none;
    font-family: 'Marcellus', sans-serif;
    font-size: 1.3em;
    overflow: hidden;
}
.section .section-body {
    overflow: hidden;
    /*display: none; */
}
.section input[type=checkbox]:checked ~ table { display: inherit; }
.section {
    padding-bottom: 3px;
    border-bottom: 2px dotted;
    background-color: #DFF;
    margin: 3px;
}
.section .title {
    font-style: italic;
    font-size: 1.6em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}
.result {
    overflow: auto;
    margin-bottom: 3px;
    border: 1px dotted grey;
}
